global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# Default material locations of SSL
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# Default listening sockets ciphers which used on SSL-enabled.
	# To know futher information, go to ciphers(1SSL). The list  from:
	#  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256::RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
	ssl-default-bind-options no-sslv3

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

frontend connect_node
{% for haproxy in groups['haproxy'] %}
    bind {{ hostvars[haproxy]['ansible_default_ipv4']['address'] }}:5000
{% endfor %}
    mode http
    default_backend dev_servers

backend dev_servers
    mode http
    balance roundrobin
{% for devserver in groups['webservers'] %}
    server {{ hostvars[devserver]['inventory_hostname'] }} {{ hostvars[devserver]['ansible_default_ipv4']['address'] }}:8080 check 
{% endfor %}
