user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
        worker_connections 768;
        # multi_accept on;
}

stream {

     upstream nginx_udp {
       {% for host in groups['webservers'] %}
      server {{ hostvars[host]["ansible_default_ipv4"]["address"] }}:161;
       {% endfor %}
        }
     server {
        listen 6000 udp;
        proxy_pass nginx_udp;
        proxy_responses 1;
   }

}